<!DOCTYPE html>
<html>
  <head>
    <title>FFIL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <!-- Account auth alerts -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Banner above nav -->
    <div class="banner">
      <h1>Banner</h1>
    </div>
    
    <nav>
      
      <ul>
        <li><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li><%= link_to "Profile", class: "nav-link" %></li>
        <li><%= link_to "Forum", forum_index_path,  class: "nav-link" %></li>
        <li><%= link_to "FFlopedia", class: "nav-link" %></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
